body{
    background-image: url(oigetaust.png);
}

.kalk{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 0.5em;
    width: 40%;
    padding: 2em;
    background-color: rgba(187, 6, 118);
    position: relative;
    left: 10em;
    top: 5em;

}

#kogutulu{
    background-color: rgba(187, 6, 118);
    border: none;
    color: rgb(255, 255, 255);
    font-family: 'Spartan', sans-serif;
    font-size: 25px;
}

#tunnipalk{
    background-color: rgba(187, 6, 118);
    border: none;
    color: rgb(255, 255, 255);
    font-family: 'Spartan', sans-serif;
    font-size: 25px;
}

#ajalugu{
    color: rgb(255, 255, 255);
    font-family: 'Spartan', sans-serif;
    font-size: 25px;
    margin-top: 3em;
}

input{
    padding: 0.05em;
    width: 40%;
}

select{
    padding: 0.05em;
    width: 40%;
}

label{
    width: 8em;
}

.button{
    width: 100%;
    margin-top: 1em;
}

.kogutulu{
    color: rgb(255, 255, 255);
    font-family: 'Spartan', sans-serif;
    font-size: 25px;
    margin-top: 1.5em;
}

a {
    color: rgb(190, 24, 177);
    text-decoration: none;
}


.head-container {
    display: flex;
    justify-content: flex-end;
    
}

.head-text {
    font-size: 20px;
    font-family: 'Spartan', sans-serif;
    color: white;
    margin:20px;
    margin-top: 65px;
    margin-right: 60px;
}

.Pealkiri {
    color: white;
    font-family: 'Spartan', sans-serif;
    font-size: 25px;
    width: 90%;
}

.eriala {
    color: rgb(255, 255, 255);
    font-family: 'Spartan', sans-serif;
    font-size: 25px;
}

.tunnid {
    color: rgb(255, 255, 255);
    font-family: 'Spartan', sans-serif;
    font-size: 25px;
}

.tunnipalk {
    color: rgb(255, 255, 255);
    font-family: 'Spartan', sans-serif;
    font-size: 25px;
}

.statistika {
    margin-top: -3em;
    margin-left: 30em;
    color: rgb(156, 6, 144);
    font-family: 'Spartan', sans-serif;
    font-size: 25px;
}
