* {
    padding: 0px;
    margin: 0px;
    font-family: 'Spartan', sans-serif;
}

body {
    background-image: url("oigetaust.jpg");
    margin: center;
    background-attachment: fixed;
    background-size: cover;
}

a {
    color: rgb(190, 24, 177);
    text-decoration: none;
}


.head-container {
    display: flex;
    justify-content: flex-end;
    
}

.head-text {
    font-size: 20px;
    font-family: 'Spartan', sans-serif;
    color: white;
    margin:20px;
    margin-top: 65px;
    margin-right: 60px;
}

.info {
    background-color: rgba(187, 6, 118, 0.4);
    height: auto;
    display: flex;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
    margin: 0 450px;
    margin-top: 120px;

}

.teave {
    text-align: center;
    font-size: 30px;
    color: white;
}

.mtyinfo {
    font-size: 23px;
    color: white;
}

hr {
    width:100%;
    border: 0.5px solid white;
}

.asutamine {
    color: white;
    font-size: 18px;
    margin-top: 5px;
}

.kontaktinfo {
    color: white;
    font-size: 22px;
    margin-top: 5px;
}
.telefon {
    color: white;
    font-size: 18px;
    margin-top: 5px;
}

.msng {
    color: white;
    font-size: 18px;
    margin-top: 5px;
}
.fb {

    margin-top: 5px;
}
