* {
    padding: 0px;
    margin: 0px;
}
body {
    background-image: url("esilehetaust1.png");
    margin: center;
    background-attachment: fixed;
    background-size: cover;
}

.head-container {
    display: flex;
    justify-content: flex-end;
    
}

.head-text {
    font-size: 20px;
    font-family: 'Spartan', sans-serif;
    color: white;
    margin:20px;
    margin-top: 65px;
    margin-right: 60px;
}

.tutvustus {
    margin-top: 200px;
    margin: center;
    color: white;
    text-align: center;
    font-family: 'Spartan', sans-serif;
    font-size: 25px;
}

a {
    color: white;
    text-decoration: none;
}

.info {
    background-color: rgba(187, 6, 118, 0.4);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
